.list li {
  border-bottom: 1px solid var(--color-grey);
}

.list li:last-child {
  border-bottom: none;
}

.show-more-button {
  margin: 0 auto;
}

.sort-bar {
  display: flex;
  gap: 12px;

  padding: 24px 0;
}

.search {
  flex-grow: 1;
}

.select {
  width: 256px;
}
