:root {
  --color-black: #1a1718;

  --color-light-bg-gray: #fcfbfb;
  --color-bg-gray: #faf7f8;
  --color-grey: #dedbdc;

  --color-brand-red: #e15b64;
  --color-brand-orange: #f8b26a;

  --basic-fz: 14px;
  --basiz-lh: 24px;

  --title-fz: 18px;
  --title-lh: 24px;

  --main-title-fz: 20px;
  --main-title-lh: 24px;
}
